
body{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

.title {
    text-align: center;
    font-size: 40px;
}

.contenedor{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.contenedor .carta{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transform: all 0.25s;
}

.contenedor .carta:hover{
    transform: translateY(-15px);
    box-shadow: 0   12px    16px    rgba(0, 0, 0, 0.2);
}

.contenedor .cartaimg{
    width: 100%;
    height: 220px;
    object-fit: contain;
}

.carrito {
    display: flex;
    flex-wrap:wrap;
    gap:10px;
}

#containerCarrito{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}